.container-fluid {
  text-align: center;
  /* min-width: 100%; */
  min-width: 100%;
  /* background-color: #19202b; */
  background: linear-gradient( to bottom right,#050606,#19202b, #19202b,#2f3036,#2a3445,#2c3646,#2f3036,#19202b,#19202b,#050606);
}

.navbar {
  display: flex;
  padding: 50px 0;
  align-content: center;
  justify-content: space-evenly;
  height: 45px;
  font-size: 24px;
  display: flex;
}

.nav1 {
  text-decoration: none;
  color: #b3b3b8;
  transition: all 0.2s ease-in-out;
}
.nav1:hover {
  color: white;
  transform: scale(1.5);
}

.nav2 {
  text-decoration: none;
  color: #b3b3b8;
  transition: all 0.2s ease-in-out;
}

.nav2:hover {
  color: white;
  transform: scale(1.5);
}

.nav3 {
  text-decoration: none;
  color: #b3b3b8;
  transition: all 0.2s ease-in-out;
}

.nav3:hover {
  color: white;
  transform: scale(1.5);
}

.parallax {
  background-image: url("/src/images/Header.png");
  height: 75vh;
  min-width: 100%;
  align-content: center;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.expand:after {
  display: block;
  content: "";
  border-bottom: solid 10px #64646c;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}

.expand:hover:after {
  transform: scaleX(1);
}

.greeting {
  display: flex;
  width: 25%;
  padding-top: 5%;
  /* margin-left: 10%; */
  font-size: 48px;
  color: white;
  line-height: 95%;
}

.project1 {
  margin: 100px 50px;
  justify-content: center;
}
.project2 {
  margin: 50px;
  justify-content: center;
  flex-direction: row-reverse;
}


.project1box {
  justify-content: left;
}

.projectImg {
  border-radius: 5%;
  filter: grayscale(100%);
}

.projectImg:hover {
  filter: grayscale(0%);
  filter: gray;
  filter: none;
  transition: 0.75s ease;
}

.projectImg {
  width: 100%;
  min-width: 50%;
}

.projectTitle {
  border-radius: 10px;
  margin: 12.5% auto auto auto;
  background-color: #64646c5b;
  
}

.projectTitle > a {
  color: #847c3c;
  text-decoration: none;
}

.projectTitle > div > a {
  font-size: 40px;
}

.hide {
  color: #847c3c;
  text-decoration: none;
}

.projectTitle a span p {
  font-size: 24px;
  color: white;
}


.projectDesc {
  display: none;
  font-size: 24px;
}


.hide:hover + .projectDesc {
  display: block;
}



.projectDesc:hover {
  display:block;
}

button {
  border: none;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #64646c;
}

button:hover {
  color: aliceblue;
}

#skills {
  justify-content: space-between;
  background-color: #64646c5b;
  border-radius: 25px;
  margin: 0 10%;
}

#skill {
  background-color: white;
  border: 0.1vw solid #64646c;
  width: 50%;
  margin: 25px 0;
  padding: -0px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
#skill:hover {
  box-shadow: 0px 5px 20px 5px white;
  transform: scale(1.15);
}

.spacer {
  display: flex;
  justify-content: space-around;
}

.projectSkill {
  background-color: white;
  border: 0.1vw solid #64646c;
  max-width: 10%;
  padding: 0;
  margin: 20px 0;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}


.projectSkill:hover {
  box-shadow: 0px 5px 20px 5px white;
  transform: scale(1.15);
}

.social {
  padding:0;
  width: 50px;
  background-color: rgba(255, 255, 255, 0.473);
  border-radius: 25%;
  margin: 25px 10px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media screen and (min-width: 2875px) {
  .projectTitle  {
    font-size: 40px;
    margin: auto;
  }
  .projectDesc{
    font-size: 24px;
  }
}

@media screen and (max-width: 850px) {
  .projectDesc{
    font-size: 16px;
    display:block;
  }
}




@media screen and (max-width: 450px) {
  .projectTitle {
    width: 90%;
    font-size: 14px;
  }
  .projectDesc {
    font-size: 12px;
    display: block;
  }
}


